# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# Robot Framework reports
reports/
output.xml
log.html
report.html

# Screenshots
*.png

# IDE files
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db
